<h1>Admin Dashboard</h1>

<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><%= link_to 'Product Counts', [:admin, :products] %></th>
          <th><%= link_to 'Categories', [:admin, :products] %></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'dashboard' %>
      </tbody>
    </table>
  </div>