<h1>Admin Dashboard</h1>

<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product Counts</th>
          <th>Categories</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'dashboard' %>
      </tbody>
    </table>
  </div>