<section class="categories-show">

  <header class="page-header">
    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @products.size, 'product' %>)</small>
    </h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>

# The ability for administrators to see a list of all categories and create new categories. This should work very similarly to how products can be managed by admins.

# Only implement the index (list), new and create actions for this resource. While admins can destroy products, they don't need this functionality for categories.

# Tips
# Examine the Admin » Products functionality. The Admin » Categories one should look very similar, except that it should list category details
# Example the admin/products controller to understand how it is defined and working
# If you haven't already done so in the Namespaces activity, read about Controller Namespaces and Routing in the official Rails Guides
# Work incrementally and read error pages carefully just like the Rails blog tutorial showed you in its initial steps
# The model (Category) already exists so you don't need to create a new table or generate a new model
# Start by defining the routes, using the admin/products routes definition as an example, and use rake routes in the terminal to verify that Rails has registered your new routes
# Next use the Rails generator to generate a controller for admin/categories